<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
	
	
<head>
<meta charset="UTF-8" />
<title>Accueil</title>
</head>


<body>
	<div layout:fragment="content">

		<section id="Accueil">
			<div class="container">
				<h2>Accueil</h2>

				<div class="row">
					<div class="col-md-10">

						<h4>
							<strong>Escalade</strong> Notre site internet vous permettra
							d’apprécier en partie notre volume d’activité et notre actualité.
							
						</h4>

						<ul>
							<li><h4>partager des informations sur les spots, 
							leurs secteurs et 
							les voies de chaque secteur 
							(hauteur, cotation, nombre de points…)</h4></li>

							<li><h4>de faire une recherche multi-critères pour 
							trouver votre prochain site de grimpe</h4></li>

							<li><h4>de laisser des commentaires</h4></li>

							<li><h4>de présenter les topo qui existent et 
							les sites/secteurs qu’ils couvrent</h4></li>

							<li><h4>d’avoir un espace de prêt de topo (les propriétaires de topo
							peuvent proposer le prêt de leur topo et les gens intéressés
							peuvent voir les topo disponibles et les réserver pour une
							période)</h4></li>
						</ul>
						<h4>
							Pour autant, c’est en nous rejoignant dans nos clubs que vous
							pourrez réellement mesurer notre engouement pour les activités de
							montagne et d’escalade.
						</h4>

					</div>

					<div class="col-md-10">
						<p>
							Voici une photo que j'ai prise lors de mes dernières vacances à
							la montagne :<br /> <br> <img
								th:src="@{/images/ocescalademini.jpg}" id="imageAccueil"
								alt="grimpeur soleil levant"
								title="C'est beau les Alpes quand même !" />
						</p>

					</div>
				</div>

			</div>
		</section>
	</div>
</body>
</html>


<!--  th:href="@{/images/ocescalade.PNG}" -->