<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/LoginStylesheet.css"
          th:href="@{css/LoginStylesheet.css}"/>

</head>

<body>
<h1>L'ESCALADE</h1>
<div class="box">

    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <div class="inputBox">
            <input  type="text" name="username" required=""/>
            <label>Username</label>
        </div>
        <div class="inputBox">
            <input  type="password" name="password" required=""/>
            <label>Password</label>
        </div>
        <input type="submit" value="submit"/>
        <a class="pull-right" th:href="@{/Enregistrement}"><Strong>S'enregistrer</Strong></a>
    </form>

</div>

</body>
</html>